.input{
    display: flex;
    height: 4em;
    flex:1;
    background-color: #000;
    outline: #888;
    color:#fff;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 4em;
    width:100px;
    align-items: center;
}
